<%- include partials/header %>

  <main>
    <section class="sec-padding">
      <div class="container flex center">
        <h1>Welcome to Expense-Tracker </h1>
      </div>
     
    </section>
    <section class="sec-padding">
      <div class="container flex center">
        <h4>This app will help you to manage your expenses and income</h4>
      </div>
    </section>
  </main>
</body>
</html>